<form>
    <div class="login-page">
        <mat-card class="mat-elevation-z12">
            <mat-card-title style="text-align: center;">
                Generar Reserva
            </mat-card-title>
            <mat-card-content>
                <form #formulario="ngForm">
                    <mat-form-field>
                        <mat-label>Tipo de documento</mat-label>
                        <mat-select required (selectionChange)="selectDocumentType($event.value)" 
                            [formControl]="tipoDocumento" [compareWith]="compareDocType" [(ngModel)]="client.tipoDocumento">
                            <mat-option *ngFor="let tipDoc of listadoTipoDoumentos" [value]="tipDoc">
                                {{tipDoc}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="tipoDocumento.hasError('required')">
                            Tipo de documento es Requerido
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput type="identificacion" [(ngModel)]="client.identificacion" name="identificacion"
                            placeholder="Número de Identificación" required="required" (blur)="findClient()"/>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput type="nombres" [(ngModel)]="client.nombre" name="nombres" placeholder="Nombres"
                            required="required" />
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput type="apellidos" [(ngModel)]="client.apellido" name="apellidos"
                            placeholder="Apellidos" required="required" />
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput type="email" [(ngModel)]="client.email" name="email" placeholder="Email" 
                            required="required" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"/>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Tipo de reserva</mat-label>
                        <mat-select required (selectionChange)="selectBookingType($event.value)">
                            <mat-option *ngFor="let tipRes of listadoTipoReserva" [value]="tipRes">
                                {{tipRes}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput [ngxMatDatetimePicker]="fechaSolic" [(ngModel)]="booking.fechaReserva"
                            placeholder="Fecha Solicitud" [readonly]="true" required [min]="minDate"
                            name="fechaSol" #fechaSol="ngModel">
                        <mat-datepicker-toggle matSuffix [for]="fechaSolic">
                        </mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #fechaSolic [showSpinners]="showSpinners"
                            [showSeconds]="showSeconds" [stepHour]="stepHour" [stepMinute]="stepMinute"
                            [stepSecond]="stepSecond" [touchUi]="touchUi" [color]="color">
                        </ngx-mat-datetime-picker>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput type="cantidad" [(ngModel)]="booking.cantidadPersonas" name="cantidad"
                            placeholder="Cantidad de Personas" required="required" required type="number"/>
                    </mat-form-field>

                    <mat-form-field>
                        <textarea matInput type="descripcion" [(ngModel)]="booking.observaciones" name="descripcion"
                            required placeholder="Observaciones"></textarea>
                    </mat-form-field>

                    <button mat-raised-button color="primary" class="login-button"
                                    (click)="createBooking()" [disabled]="formulario.invalid">
                                    Registrar Reserva
                    </button>
                </form>
            </mat-card-content>
        </mat-card>
        <button mat-raised-button color="primary" class="login-button2"
                (click)="exit()" >
                Salir
        </button>
    </div>
</form>